# torch / torchvision은 Colab 환경에 맞춰 따로 설치
# (requirements에서는 관리하지 않음)

transformers==4.18.0
tensorboard==2.9.1
pytorch-lightning==1.6.4
timm==0.5.4
pycocotools==2.0.5
ninja==1.10.2

# 아래 둘은 Colab의 Python 버전이랑 충돌날 수 있어서 버전 고정을 풀자
matplotlib
pandas